@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700,300);

* {
	margin: 0;
}

html, body {
	height: 100%;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333333;
	padding: 0;
	line-height: 1.5em;
	background-image: url('images/subtle_dots.png');
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Oxygen;
	line-height: 1.5em;
	margin: 0 0 .8em 0;
}

h1 {
	font-size:1.7em;
	color: #666666;
	text-shadow: 0px 1px 0px white;
}

p {
	margin-top: 1em;
}

a {
	color: #2989d8;
	text-decoration: underline;
}

a:hover {
	color: #686A7A;
	text-decoration: none;
	cursor: pointer;
}

img {
	width: 100%;
}

table {
	table-layout: fixed;
	overflow:hidden; 
	word-wrap:break-word; 
}

table, tr, td {
	padding: 0px;
	width: 100%;
}
td, th {
	padding: 7px;
	margin: 0;
	border: 1px solid #dcdcdc;
}

.tinytd {
	width: 13%;
}

.smalltd{
	width: 20%;
}

.hide {
	display: none !important;
}

.wide {
	width: 100%;
}

.left {
	float: left;
}

.right {
	float: right; 
}

.clear {
	clear: both;
}

.active {
	color: #686A7A;
}

.container {
	background-color: white;
	border-radius: 5px;
	border: 1px solid #afafaf;
	-moz-box-shadow:    inset 0 0 2px #bcbcbc;
   	-webkit-box-shadow: inset 0 0 2px #bcbcbc;
   	box-shadow:         inset 0 0 2px #bcbcbc;
   	padding: 15px;
   	margin-top: 20px;
   	overflow: auto;
}

.half {
	width: 45%;
	min-height: 300px;
	height: auto;
}

.quarter {
	width: 25%;
	min-height: 300px;
	height: auto;
}

.threequart {
	width: 30%;
	min-height: 300px;
	height: auto;
	margin-right:2%;
}

.tri-patient {
	width: 25%;
	height: auto;
	display: inline-block;
}

#testd3 {
	width: 100%;
	height: 100%;
}

.tabHead {
	background: rgb(240,249,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(211,232,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(100%,rgba(211,232,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(211,232,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(211,232,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(211,232,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(211,232,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#d3e8ff',GradientType=0 ); /* IE6-9 */

}

#ablab {
	width:100%;
	height: 100%;
}

#abPatients {
	font-size: .8em;
	line-height: 1.2em;
}

#abPatients {
	position: relative;
	top: 0;
	left:0;
}

#abPatients ul {
	list-style-type: none;
	padding:0;
}

#genData {
	overflow: auto;
}

.bar:hover {
	fill: #4FA6D6;
	cursor: pointer;
}

.bar:active {
	fill: #2696D3;
}

.axis path,
.axis line {
    fill: none;
    stroke-width:2.60;
    shape-rendering: crispEdges;
}


#footer, 
.push {
	height: 100px;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 100%;
	max-width: 100%;
	margin: 0 auto -100px;
}

#logo, #dash { 
	margin-top: 10px;
}

#header {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 700;
	min-height: 55px;
	width: 100%;
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#efefef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 0%,#efefef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #bbbbbb;
}

#name { 
	color: #666;
	text-decoration: underline;
}

#name:hover {
	color: #999;
	text-decoration: none;
}

#patientList ul {
	list-style-type: none;
	padding: 0;
}

#patient h1 {
	color: #4995d8;
}

#footer {
	background-color: rgba(210, 210, 210, .3);
	font-family: Helvetica, Arial, sans-serif;
	margin-top: 20px;
}

.content {
	width: 960px;
	margin: 0 auto;
}

#inner-footer {
	font-size: .85em;
	color: #999999;
	padding-top: 15px; 
}

/*BUTTON CLASSES*/

.grey-btn {
	display: inline-block;
	padding: 8px 13px; 
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #e2e2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 0%,#e2e2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#e2e2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f7f7 0%,#e2e2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
	border-radius: 3px;
	box-shadow: 0px 0px 0px 1px #aaaaaa;
	border-top: 1px solid white;
	text-shadow: 0px 1px 0px white;
	font-weight: bold;
	margin-top: 10px;
	cursor: pointer;
}

.grey-btn:hover {
	background: #fcfcfc; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #ececec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfcfc 0%,#ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#ececec 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfcfc 0%,#ececec 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
	
}

.grey-btn:active {
	background: #e0e0e0; /* Old browsers */
	background: -moz-linear-gradient(top,  #e0e0e0 0%, #f9f9f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e0e0e0 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e0e0e0 0%,#f9f9f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e0e0e0 0%,#f9f9f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e0e0e0 0%,#f9f9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

.blue-btn {
	display: inline-block;
	padding: 8px 14px;
	border-radius: 3px;
	background: #7db9e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(100%,#2989d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7db9e8 0%,#2989d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7db9e8 0%,#2989d8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
	color: white;
	font-weight: bold;
	text-shadow: 0px 1px 0px #1E5799;
	box-shadow: 0px 0px 0px 1px #777777;
	border-top: 1px solid #BADCF2;
}

.blue-btn:hover {
	background: #a5d5ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #a5d5ef 0%, #4995d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5d5ef), color-stop(100%,#4995d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a5d5ef 0%,#4995d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a5d5ef 0%,#4995d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a5d5ef 0%,#4995d8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a5d5ef 0%,#4995d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5d5ef', endColorstr='#4995d8',GradientType=0 ); /* IE6-9 */

}

.blue-btn:active {
	background: #246fbf; /* Old browsers */
	background: -moz-linear-gradient(top,  #0F71BC 0%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0F71BC), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0F71BC 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0F71BC 0%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0F71BC 0%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0F71BC 0%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0F71BC', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.green-btn {
	display: inline-block;
	padding: 8px 14px;
	border-radius: 3px;
	cursor: pointer;
	color: white;
	font-weight: bold;
	background: #7bce80; /* Old browsers */
	background: -moz-linear-gradient(top,  #7bce80 0%, #008E1A 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7bce80), color-stop(100%,#008E1A)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7bce80 0%,#008E1A 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7bce80 0%,#008E1A 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7bce80 0%,#008E1A 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7bce80 0%,#008E1A 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bce80', endColorstr='#008E1A',GradientType=0 ); /* IE6-9 */
	text-shadow: 0px 1px 0px #333333;
	box-shadow: 0px 0px 0px 1px #888888;
	border-top: 1px solid #C6EFC6;
}

.green-btn:hover {
	background: #8be89a; /* Old browsers */
	background: -moz-linear-gradient(top,  #8be89a 0%, #39ad39 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8be89a), color-stop(100%,#39ad39)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8be89a 0%,#39ad39 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8be89a 0%,#39ad39 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8be89a 0%,#39ad39 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8be89a 0%,#39ad39 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8be89a', endColorstr='#39ad39',GradientType=0 ); /* IE6-9 */

}

.green-btn:active{
	background: #079300; /* Old browsers */
	background: -moz-linear-gradient(top,  #079300 0%, #7bce80 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#079300), color-stop(100%,#7bce80)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #079300 0%,#7bce80 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #079300 0%,#7bce80 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #079300 0%,#7bce80 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #079300 0%,#7bce80 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#079300', endColorstr='#7bce80',GradientType=0 ); /* IE6-9 */

}

.chart div {
  font: 10px sans-serif;
  background-color: rgba(60, 60, 210, .9);
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart rect {
  stroke: rgba(210, 210, 210, .9);
  fill: rgba(60, 60, 210, .9);
}